@import "reset";
@import "mixins";
@import "media_queries";
@import "variables";

@import url("https://fonts.googleapis.com/css2?family=Recursive:wght,CASL@300..800,0.8&display=swap");

body {
  &,
  * {
    font-family: "Recursive", sans-serif;
  }

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include fs(0);
  min-height: 100vh;
  display: flex;
  align-items: stretch;
  justify-content: stretch;

  background: #dfdfdf;

  padding: 4rem 2rem;
  box-sizing: border-box;
}

h1 {
  @include fs(4);
  font-weight: 550;
  margin-bottom: 2rem;
  color: $accent;
}

h2 {
  &:first-child {
    margin-top: 0;
  }
  @include fs(0);
  font-weight: 750;
  margin: 2rem 0 0.25rem 0;
  transition: all 0.75s ease;
  &.done {
    font-weight: 500;
    opacity: 0.5;
  }
}
